<app-header></app-header>
<div class="container myloginclass">
    <form #usersignup="ngForm" (ngSubmit)="userVerify()">
        <div class="form-group">
            <label for="Username">Username</label>
            <input type="text" class="form-control" #username="ngModel" name="username" [class.is-invalid]="username.invalid && username.touched" [(ngModel)]="User.username" required minlength="4">
            <small class="text-danger" [class.d-none]="username.valid || username.touched">Username should have minimum 4 length</small>
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" #email="ngModel" [class.is-invalid]="email.invalid && email.touched" name="email" [(ngModel)]="User.email" required pattern="^[a-z0-9.%+]+@[a-z0-9.-]+\.[a-z]{2,4}">
            <small class="text-danger" [class.d-none]="email.valid || email.touched">Enter Valid email id</small>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" #password="ngModel" name="password" [class.is-invalid]="password.invalid && password.touched" [(ngModel)]="User.password" required minlength="6">
            <small class="text-danger" [class.d-none]="password.valid || password.touched">Password should have minimum 6 length</small>
          </div>
        
        
        <button type="submit" class="btn btn-success btn-block" [disabled]="usersignup.form.invalid">Sign Up</button>
        <label class="noaccount">Don't have an account? <a routerLink="/login">Log In</a></label>
      </form>
    </div>
