.mylogo{
    padding: 10px;
    margin-left: 40px;
    height: 70px;
    width: 70px;
    border-radius: 15px;
  
}

.mylogo:hover{
    transform: scale(1.2);
}




.text-items{
    float: right;
    margin: 20px;
    
    }

    .text-item{
        margin: 20px;
        padding-top: 30px;
        color: white;
        /* font-weight: 900; */
        font-size: 17px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       
    }

    .header{
        background-color:  #000000;
        }