<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="footer-copyright">
    <div class="container">
      Copyright 2022. Library App. All Rights Reserved
    <div class="icon">
      <a href="https://www.facebook.com"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
      <a href="https://twitter.com"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
      <a href="https://www.google.com/"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
    </div>
    </div>
</div>